{
    debug
}

https://{$CADDY_SITE_ADDRESS} {
    tls /etc/caddy/cert/{$CADDY_CERT_FULLCHAIN} /etc/caddy/cert/{$CADDY_CERT_PRIVKEY}
    encode gzip
    log

    handle /api/* {
        reverse_proxy api:8000
    }

    handle {
        root * /srv/admin
        file_server
    }
}