{
    log {
        format console {
            time_format "2006-01-02 15:04:05.000"
            time_local
        }
    }
}

{$CADDY_SITE_ADDRESS} {
    tls {
        issuer acme https://acme-v02.api.letsencrypt.org/directory
    }
    encode gzip

    handle /api/* {
        reverse_proxy api:8000
    }

    handle {
        root * /srv/admin
        file_server
    }
}